language: elixir
os:
  - linux
elixir:
  - 1.8
  - 1.10
otp_release:
  - 21.2
  - 23.0
branches:
  only:
    - master
before_install:
  - mix local.hex --force
  - mix deps.get
script:
  - mix test --trace